*{
	margin: 0;
	padding: 0;
	outline: 0;
}

body{
	font-family: verdana;
	font-size: 18px;
	color: #444;
}
.wrapper{
	width: 800px;
	margin: 0 auto;
}

.clr{
   overflow: hidden; 
}

.headoption , .footsection{
	background: #ddd;
	padding: 10px;
	text-align: center;
}

.headoption h2 , .footsection h2{}

.content{
	min-height: 500px;
	border: 15px solid #ddd;
}

.box{
	border: 5px solid #999;
	margin: 30px auto 0;
	padding: 20px;
	width: 600px;
	height: 200px;
	overflow: scroll;
}

.box ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

.box ul li{
	display: block;
	border-bottom: 1px dashed #ddd;
	margin-bottom: 5px;
	padding-bottom: 5px;
}

.box ul li:last-child{
	display: block;
	border-bottom: 0px dashed #ddd;
	margin-bottom: 0;
	padding-bottom: 0;
}

.box span{
	color: #888;
	margin-right: 10px;
}

.box ul li b{
	margin-right: 10px;
}

.shoutbox{
	border: 5px solid #999;
	margin: 30px auto 10px;
	padding: 20px;
	width: 600px;
}

input[type = "text"]{
    padding: 5px;
    width: 500px;
    margin-bottom: 10px;
}

input[type = "submit"]{
    background: #666;
    border: 1px solid #fff;
    color: #fff;
    font-size: 25px;
    padding: 10px;
    cursor: pointer;
}
